@import '../common/styles/variables.css';

.root {
	position: relative;
}

.input {}
.inputWrapper {}
.checked {}
.disabled {}
.focused {}
.readonly {}
.required {}

.background { display: none; }
.checkmark {}
.checkmarkPath {}
.mixedMark {}
.ripple { display: none; }

/* invalid style */
.invalid .inputWrapper::before {
	border-color: var(--error-color);
}
.invalid .inputWrapper::after {
	background-color: var(--error-color);
}

/* valid style */
.valid .inputWrapper::before {
	border-color: var(--success-color);
}
.valid .inputWrapper::after {
	background-color: var(--success-color);
}
